
.CodeMirror-line-numbers {
  width: 2.2em;
  color: #aaa;
  background-color: #eee;
  text-align: right;
  padding: .4em;
  margin: 0;
  font-family: monospace;
  font-size: 10pt;
  line-height: 1.1em;
}
